.cart-main {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #212529;
}

/* ---------------- CART ITEMS ---------------- */
/* LEFT SIDE SCROLL */
.cart-details {
  width: 70%;
  height: 80vh;
  overflow-y: auto;
  padding-right: 10px;
}
.cart-details::-webkit-scrollbar {
  width: 6px;
}
.cart-details::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}
.product-cont {
  display: flex;
  background: #212529 ;
  color: white;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  padding-bottom: 15px;
  border-bottom: 1px solid white;
}

.img-container img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-left: 10px;
}

.product-info {
  width: 600px;
  margin-left: 20px;
}

.product-title {
  font-weight: 600;
  margin-bottom: 8px;
  align-self: flex-start;
}
.delete-button :hover{
    color: red;
}

.product-price {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-price del {
  color: gray;
  font-size: 14px;
}
.qty-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-box button:disabled,
.qty-box button:disabled:hover {
  cursor: not-allowed !important;
  pointer-events: auto !important;
  opacity: 0.5;
}


.qty-box,
.qty-box * {
  user-select: none !important;
}
/* ---------------- ORDER SUMMARY ---------------- */

.order-box {
  width: 35%;
  background: black;
  padding: 15px;
  border-radius: 8px;
  height: fit-content;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  height: fit-content;
  position: sticky;
  top: 20px;
}

.order-title {
  font-weight: 600;
  margin-bottom: 15px;
}

.order-summary {
  display: flex;
  justify-content: space-between;
}

.order-detail p,
.order-price p {
  margin-bottom: 10px;
}

.total-text,
.total-price {
  font-weight: bold;
}

/* ---------------- EMPTY CART ---------------- */

.empty-cart {
  font-size: 22px;
  font-weight: 600;
  padding-left: 350px;
  
}
.shoping-icon{
    height: 150px;
    width: 150px;
}
/* ---------------- MOBILE RESPONSIVE ---------------- */

@media (max-width: 768px) {
  .cart-main {
    flex-direction: column;
  }

  .cart-details,
  .order-box {
    width: 100%;
  }
  .empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
  }
}
