.hero-swiper {
  width: 100%;          
  height: 500px;       
  margin: 0 auto;      
}


.hero-slide {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: 80%;
  position: relative;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

/* dark overlay */
.hero-slide::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background: rgba(0, 0, 0, 0.55); */
  z-index: 1;
}

.hero-overlay {
  position: relative;
  z-index: 2;
  color: #fff;
  padding-left: 80px;
  max-width: 500px;
}

.hero-overlay .brand {
  letter-spacing: 2px;
  font-size: 14px;
  opacity: 0.8;
}

.hero-overlay h3 {
  font-size: 38px;
  font-weight: 700;
  margin: 15px 0;
}

.hero-overlay .price {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-overlay del {
  color: #bbb;
  margin-left: 10px;
}

/* pagination dots */
.swiper-pagination-bullet {
  background: #fff;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background: red;
  opacity: 1;
}


/* RESPONSIVE HERO SLIDER */


/* Tablet (max-width: 992px) */
@media (max-width: 992px) {

  .hero-swiper {
    height: 400px;
  }

  .hero-slide {
    background-position: center right;
    background-size: contain;
  }

  .hero-overlay {
    padding-left: 40px;
    max-width: 420px;
  }

  .hero-overlay h3{
    font-size: 30px;
  }

  .hero-overlay .price {
    font-size: 16px;
  }
}


/* Mobile (max-width: 768px) */
@media (max-width: 768px) {

  .hero-swiper {
    height: 320px;
  }

  .hero-slide {
    background-position: center;
    background-size: contain;
    align-items: flex-end;
  }

  .hero-overlay {
    padding: 20px;
    max-width: 100%;
    text-align: center;
  }

  .hero-overlay .brand {
    font-size: 12px;
  }

  .hero-overlay h3 {
    font-size: 24px;
  }

  .hero-overlay .price {
    font-size: 15px;
  }
}


/* Small Mobile (max-width: 480px) */
@media (max-width: 480px) {

  .hero-swiper {
    height: 260px;
  }

  .hero-overlay {
    padding: 15px;
  }

  .hero-overlay h3 {
    font-size: 20px;
  }

  .hero-overlay .price {
    font-size: 14px;
  }

  .hero-overlay button {
    padding: 6px 14px;
    font-size: 14px;
  }
}

