.hero-swiper {
  width: 100%;          
  height: 500px;       
  margin: 0 auto;      
}


.hero-slide {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: 80%;
  position: relative;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

/* dark overlay */
.hero-slide::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background: rgba(0, 0, 0, 0.55); */
  z-index: 1;
}

.hero-overlay {
  position: relative;
  z-index: 2;
  color: #fff;
  padding-left: 80px;
  max-width: 500px;
}

.hero-overlay .brand {
  letter-spacing: 2px;
  font-size: 14px;
  opacity: 0.8;
}

.hero-overlay h3 {
  font-size: 38px;
  font-weight: 700;
  margin: 15px 0;
}

.hero-overlay .price {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-overlay del {
  color: #bbb;
  margin-left: 10px;
}

/* pagination dots */
.swiper-pagination-bullet {
  background: #fff;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background: red;
  opacity: 1;
}
